package components

import (
	"github.com/monstercameron/go-in-one-month/objects"
	"strconv"
)

templ TodoComponent(todo *objects.Todo) {
	<div id="id-1">
		<div>{ strconv.Itoa(todo.Id) }</div>
		<div>description: { todo.Description } </div>
		<div>
			<input type="checkbox" name="" id="" checked?={ todo.Checked } hx-post={ "/check?id=" + strconv.Itoa(todo.Id) } hx-swap="innerHTML" hx-target="this"/>
		</div>
	</div>
}
