package views

import (
	"strconv"
)

templ todoComponent(id int, description string, checked bool) {
	<div id="id-1">
		<div>{ strconv.Itoa(id) }</div>
		<div>description: { description } </div>
		<div><input type="checkbox" name="" id="" checked?={ checked }/></div>
	</div>
}
