package views

import (
	"github.com/monstercameron/go-in-one-month/objects"
	"strconv"
)

templ TodoComponent(todo objects.Todo) {
	<div id="id-1">
		<div>{ strconv.Itoa(todo.Id) }</div>
		<div>description: { todo.Description } </div>
		<div><input type="checkbox" name="" id="" checked?={ todo.Checked }/></div>
	</div>
}
