<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>

<body>
    <div id="container">
        <div id="todos">
            <div id="id-1">
                <div>id</div>
                <div>description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda ullam officiis iusto facere. Repellat, molestias error molestiae quam voluptatum corporis omnis reprehenderit cupiditate, incidunt pariatur esse ipsa cumque, earum nam.</div>
                <div><input type="checkbox" name="" id=""></div>
            </div>
        </div>
    </div>

</body>

</html>